# **Introduction of python Programming**

In [3]:
# Variable assignment
number = 100
number1 = 100.20
str = 'Hello World' 

num = '1234'

num1,num2,num3 = 10,20,30

In [4]:
Number = 200

In [5]:
Number

200

In [6]:
print(number)

100

In [11]:
# checking datatype

print(type(number))
print(type(number1))
print(type(str))
print(type(num))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [14]:
n1,n2,n3 =100,200,300

no1,no2,_,no4 = 100,200,300,400

In [15]:
print('the variable name number is ',number)

the variable name number is  100

In [16]:
number1=100
number2=200

Addition =number1 + number2

print ('addition of number1 and number2',Addition)

addition of number1 and number2 300

In [19]:
number1=100
number2=200

subtraction =number1 - number2

print ('subtraction of number1 and number2',subtraction)

subtraction of number1 and number2 -100

In [18]:
number1=100
number2=200

multipliction =number1 * number2

print ('multiplication of number1 and number2',multipliction)

multiplication of number1 and number2 20000

In [20]:
number1=100
number2=200

division  =number1 /  number2

print ('division of number1 and number2',division)

division of number1 and number2 0.5

In [21]:
# floor Division 
number1=200
number2=100

division  =number1 //  number2

print ('division of number1 and number2',division)

division of number1 and number2 2

In [22]:
num=100
num1 = '2234'

print ('addition of num and num1',(num + num1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'